*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

fieldset{
  display: flex;
  flex-direction: column;
  gap: 7px;
  border: 0;
}

.page {
  display: grid;
  place-items: center;

  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  margin-top: 123px;
  display: grid;
  grid-template-areas:
  "left_column right_column";
  grid-template-columns: 711px 399px;
  min-height: 534px;
  gap: 30px;
  place-items: end;
  
}

.result {
  display: flex;
  flex-direction: column;
  grid-area: left_column;
  gap: 16px;
}

.result__video-container {
  position: relative;
  height: 386px;
  width: 711px;
  padding-top: 10px;
}

.result__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}


.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.search-form__label {
  display: flex;
  width: fit-content;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
  place-items: center;
}

.content__list-container {
  overflow:auto;
  max-width: 399px;
  max-height: 298px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 30px;

}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  grid-area: right_column;
  width: 100%;
  height: 100%;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex-grow: 1;
  max-width: 196px;
  text-overflow: ellipsis;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
  position: relative;
  margin: 2px;
}

.content__card-link:active{
  background-color: #545050;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.search-form__textfield {
  appearance: none;
  font-family: 'Fira Sans Condensed', sans-serif;
  background-color: inherit;
  color: #fff;
  border: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  width: 225px;
  height: 27px;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}

.search-form__textfield:active {
	outline: 1px solid #ffffff;
	outline-offset: -1px;
}

.search-form__textfield:focus {
  outline: none;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: rgb(84, 80, 80, 1);
} 

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid #fff;
    width: 19px;
    height: 19px;
    padding: 0;
    margin-right: 5px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: #fff;
  border: 1px solid #fff;
  width: 15px;
  height: 15px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block;
}

.search-form__label-text {
  position: relative;
}

.search-form__label-text::after {
  content: "";
  position: absolute;
  background-color: #fff;
  bottom: -2px;
  height: 1px;
  left: 0;
}

.search-form__label:hover .search-form__label-text::after {
  width: 100%;
}

.button {
  background-color: inherit;
  color: #fff;
  border: 1px solid #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  min-height: 34px;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

.search-form__submit-button {
  padding: 6px 73px;
  align-self: end;
  cursor: pointer
}

.more-button {
  width: 100%;
  margin-bottom: 1px;
}

button:hover {
  text-decoration: underline;
}

button:active {
  background-color: #545050;
}

button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

button:focus {
  text-decoration: none;
  outline: none;
}

.content__card-link_current:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
